/Mid Term Test/WIF170005_MidTerm/Answer/nbproject/private/
/Quiz 1 - WIF170005/build/
/Quiz 1 - WIF170005/nbproject/private/
/Quiz 2 - WIF170005/build/
/Quiz 2 - WIF170005/nbproject/private/
/Quiz 3 - WIF170005/WIF170005_LabTest3/build/
/Quiz 3 - WIF170005/WIF170005_LabTest3/nbproject/private/
/WIF170005 Lab Test 1/nbproject/private/
/WIF170005 Lab Test 2/nbproject/private/
/Quiz 3 - WIF170005/WIF170005 Lab Test 3/nbproject/private/
/WIF170005 Lab Test 3/nbproject/private/
/Mid Term Test/WIF170005_MidTerm/WIF170005 Mid-Term/nbproject/private/